* { 
	margin: 0;
	padding: 0; 
	box-sizing: 
	border-box; 
}

.navbar {
	margin-bottom: 0px;
}

body { 
	font: 13px Helvetica, Arial; 
}
.view-container {
	position: relative;
	height: calc(100vh - 52px);
}
.chat-container {
	position: absolute;
	bottom: 0;
	margin: 3px 0;
}
#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 10px 0;
	position: absolute;
	top: 0px;
	bottom: 40px;
	overflow-x: hidden;
	overflow-y: scroll;
}
#messages li { 
	padding: 5px 10px; 
}